@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f3f4f6; /* gray-100 */
  color: #111827; /* gray-900 */
}
:root {
  --p: #f97316; /* Orange 500 */
  --p-h: #ea580c; /* Orange 600 */
}

.btn-primary {
  @apply bg-[var(--p)] text-white font-medium rounded-lg
         transition-all duration-200 ease-in-out
         hover:bg-[var(--p-h)]
         hover:-translate-y-[1px]
         hover:shadow-lg
         active:translate-y-0 active:shadow-md;
}
.badge {
  @apply absolute top-3 left-3 bg-orange-500 text-white
         text-xs font-semibold px-2 py-1 rounded-full;
}

.wishlist {
  @apply absolute top-3 right-3 bg-white rounded-full p-2
         shadow hover:scale-110 transition;
}

.input {
  @apply w-full border rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-orange-400;
}


.admin-link {
  @apply px-4 py-2 rounded hover:bg-orange-100 font-medium;
}


/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
